<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>                
             
       <add id="FS_ContactGraphQl::contactrequest" 
            title="Contact" 
            module="FS_ContactGraphQl" 
            sortOrder="10" 
            
            resource="Magento_Backend::content"
            parent="Magento_Backend::content" />
         
       <!-- For configuration -->
	   
	   <add id="FS_ContactGraphQl::contactRequestItem"
           title="Contact Request" module="FS_ContactGraphQl"
           sortOrder="10" parent="FS_ContactGraphQl::contactrequest"
           action="contactrequest/contact/index"
           resource="FS_ContactGraphQl::contactRequestItem"
        />
       </menu>
</config>