<?xml version="1.0"?>
<!--
/**
 * @category    FS
 * @package     FS_SiteConfig
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="FS_SiteConfig" setup_version="1.0.4" data_version="1.0.4"/>
</config>