<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../Backend/etc/menu.xsd">
    <menu>
    

        <add id="FS_SocialIcons::core" title="SocialIcons" module="FS_SocialIcons" sortOrder="90" resource="FS_SocialIcons::core"/>
        <add id="FS_SocialIcons::items" title="Items" module="FS_SocialIcons" sortOrder="10" parent="FS_SocialIcons::core" action="fs_socialicons/items/index" resource="FS_SocialIcons::items"/>
    </menu>

</config>

