<?xml version="1.0"?>
<!--
/** Grid menu xml
 * @category  Webkul
 * @package   FS_RazorpayGraphQl
 * @author    Webkul
 * @copyright Copyright (c) 2010-2017 Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
      <menu>                
             
       <add id="FS_RazorpayGraphQl::logs" 
            title="Razorpay Logs" 
            module="FS_RazorpayGraphQl" 
            sortOrder="10" 
            resource="Magento_Backend::content"
            parent="Magento_Backend::content" />
       
       <add id="FS_RazorpayGraphQl::logsdata"
           title="Logs" module="FS_RazorpayGraphQl"
           sortOrder="10" parent="FS_RazorpayGraphQl::logs"
           action="fsrazorpay/logs/index"
           resource="FS_RazorpayGraphQl::logsdata"
        />
       </menu>
</config>
