<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
   <acl>
     <resources>
        <resource id="Magento_Backend::admin">
           <resource id="FS_SocialIcons::core" title="Manage socialicons" sortOrder="100" >
              <resource id="FS_SocialIcons::items" title="View SocialIcons" sortOrder="150"/>
            </resource>
        </resource>
     </resources>
   </acl>
</config>