<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../Backend/etc/menu.xsd">
    <menu>
    

        <add id="FS_Offers::core" title="Offers" module="FS_Offers" sortOrder="90" resource="FS_Offers::core"/>
        <add id="FS_Offers::items" title="Items" module="FS_Offers" sortOrder="10" parent="FS_Offers::core" action="fs_offers/items/index" resource="FS_Offers::items"/>
    </menu>

</config>

