<?xml version="1.0"?>
<!--
/**
 * @category    Mageplaza
 * @package     FS_BannerGraphQl
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="FS_BannerGraphQl" setup_version="1.0.1"/>
</config>
